In [312]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("vgsales.csv")
top_selling =df[df['Global_Sales'] > 10.000]
top_selling.sort_values('Global_Sales',ascending=False)

    Rank                               Name  ... Other_Sales  Global_Sales
0      1                         Wii Sports  ...        8.46         82.74
1      2                  Super Mario Bros.  ...        0.77         40.24
2      3                     Mario Kart Wii  ...        3.31         35.82
3      4                  Wii Sports Resort  ...        2.96         33.00
4      5           Pokemon Red/Pokemon Blue  ...        1.00         31.37
..   ...                                ...  ...         ...           ...
57    58              Super Mario All-Stars  ...        0.29         10.55
58    59  Pokemon FireRed/Pokemon LeafGreen  ...        0.35         10.49
59    60                     Super Mario 64  ...        0.98         10.42
60    61                       Just Dance 3  ...        1.07         10.26
61    62               Call of Duty: Ghosts  ...        0.82         10.21

[62 rows x 11 columns]

### Which company is the most common video game publisher?

In [313]:
df['Publisher'].value_counts().idxmax()

'Electronic Arts'

### What’s the most common platform?

In [314]:
df['Platform'].value_counts().idxmax()

'DS'

### What about the most common genre?

In [315]:
df['Genre'].value_counts().idxmax()

'Action'

### What are the top 20 highest grossing games?

In [316]:
df.sort_values('Rank', ascending=True).head(20)['Name']

0                                       Wii Sports
1                                Super Mario Bros.
2                                   Mario Kart Wii
3                                Wii Sports Resort
4                         Pokemon Red/Pokemon Blue
5                                           Tetris
6                            New Super Mario Bros.
7                                         Wii Play
8                        New Super Mario Bros. Wii
9                                        Duck Hunt
10                                      Nintendogs
11                                   Mario Kart DS
12                     Pokemon Gold/Pokemon Silver
13                                         Wii Fit
14                                    Wii Fit Plus
15                              Kinect Adventures!
16                              Grand Theft Auto V
17                   Grand Theft Auto: San Andreas
18                               Super Mario World
19    Brain Age: Train Your Brain in Minutes a Day
Name: Name, dtype: object

### For North American video game sales, what’s the median?

In [317]:
median=df['NA_Sales'].median()

df[(df['NA_Sales']>= df['NA_Sales'].median()-0.01) & (df['NA_Sales'] <= df['NA_Sales'].median()+0.01)].head(10)['Name']

137                               World of Warcraft
446                               Dragon Warrior IV
497     World Soccer Winning Eleven 7 International
504                               Colin McRae Rally
704                   TOCA Touring Car Championship
1353             Dragon Quest VII: Warriors of Eden
1617                         Farming Simulator 2015
1690                      Pro Evolution Soccer 2008
1926                      Pro Evolution Soccer 2008
1993                               Tales of Destiny
Name: Name, dtype: object

### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [318]:
top_game= df['NA_Sales'].std(axis=0)
def zscore(s):
    return (s - np.mean(s)) / np.std(s)
df[zscore(df['NA_Sales']).abs().le(2)].head(10)

     Rank               Name Platform  ...  JP_Sales Other_Sales Global_Sales
77     78            FIFA 16      PS4  ...      0.06        1.26         8.49
78     79          Wii Party      Wii  ...      2.49        0.68         8.49
82     83     FIFA Soccer 13      PS3  ...      0.13        2.01         8.24
83     84         The Sims 3       PC  ...      0.00        0.71         8.11
112   113            FIFA 14      PS3  ...      0.07        1.73         6.90
121   122            FIFA 12      PS3  ...      0.11        1.42         6.69
122   123  Big Brain Academy       DS  ...      1.60        0.62         6.67
124   125            FIFA 15      PS4  ...      0.05        1.47         6.59
137   138  World of Warcraft       PC  ...      0.00        0.00         6.28
147   148  Final Fantasy XII      PS2  ...      2.33        1.74         5.95

[10 rows x 11 columns]

### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [329]:
wii_wins = df[df["Platform"]=="Wii"].mean()
other_ones=df[df.Platform != "Wii"].mean()
print('Wii Avg:\n',wii_wins,'\n \nOther companies Avg:\n',other_ones)

Wii Avg:
 Rank            7730.774340
Year            2008.962791
NA_Sales           0.383177
EU_Sales           0.202551
JP_Sales           0.052340
Other_Sales        0.060838
Global_Sales       0.699404
dtype: float64

Other companies Avg:
 Rank            8350.040595
Year            2006.187138
NA_Sales           0.254386
EU_Sales           0.141803
JP_Sales           0.079989
Other_Sales        0.046955
Global_Sales       0.523390
dtype: float64

In [ ]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, None)
    assert_equal(most_common_platform, None)
    assert_equal(most_common_genre, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, None)
    assert_equal(na_median_sales, None)
    assert_equal(ten_median_na_seller_names, None)

    print("Success!!!")

test()